<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script>
        $(function () {

            $('#btnload').click(function () {

                var params = {
                    uname: 'name',
                    uage: 10,
                    ugender: 'ugender',
                    csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val()
                }

                // $obj.load(url, data, callback)函数
                // 无参或字符串传参  为 get请求
                // js对象传参   为   post请求
                $('#baidu').load('/user/query_users/',
                    params,
                    function () {
                        window.setTimeout(function () {
                            $('#baidu').hide(3000)
                        }, 5000)
                    }
                )

                // $.get()
                //  通过get方式异步向远程发送请求
                //  $.get(url, data, callback, type)
                //  url:    请求地址
                //  data:   参数
                //  callback:   响应成功后的回调函数
                //  type:   响应回来的数据格式
                //      取值：1.html  2.text  3.script  4.json

                // $.post()
                //  通过post方式
                //  $.post(url, data, callback, type)


                // $.ajax()
                // 作用：自定义所有的ajax操作
                // 语法：
                // $.ajax({AJAX的参数对象})
                // AJAX的参数对象：
                //  1.url
                //  2.data:请求到服务器的参数   字符串 or JS对象
                //  3.type: 'get' or 'post'
                //  4.dataType: 服务器端响应回来的数据格式 html, text, script, json
                //  5.async: 是否采用异步  true：异步  false：同步  不写则默认异步
                //  6.success: 响应成功之后的回调函数
                //  7.error:请求或响应失败时的回调函数
            })

        })
    </script>
</head>
<body>
{% csrf_token %}
<button id="btnload">加载百度</button>
<div id="baidu"></div>

</body>
</html>