<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script>
        $(function (){
            $('#btnPost').click(function () {
                var params = {
                    "uname": $('[name="uname"]').val(),
                    "uage": $('[name="uage"]').val(),
                    "ugender": $('[name="ugender"]').val(),
                    "csrfmiddlewaretoken": $('[name="csrfmiddlewaretoken"]').val()
                }

                $.post('/user/03-server/', params, function (data) {
                        alert(data)
                })
            })
        })
    </script>
</head>
<body>

{% csrf_token %}
<div>
    姓名：<input type="text" name="uname">
</div>
<div>
    年龄：<input type="text" name="uage">
</div>
<div>
    性别：
    <select name="ugender">
        <option value="male">男</option>
        <option value="female">女</option>
    </select>
</div>
<button id="btnPost">jq-ajax-post</button>

</body>
</html>